@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

.whyWLetter, .didDTwoLetter, .takeKLetter, .gardeningILetter, .question-mark, .becauseALetter, .wantedDLetter, .theirTLetter, .exclamation-mark {
  font-size: 72px;
  font-weight: bold;
  background-color: #350692;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
}

.whyHLetter, .theHLetter, .frontendNLetter, .developerOLetter, .gardeningRLetter, .becauseELetter, .wantedNLetter, .improveOLetter, .skillsSTwoLetter {
  font-size: 32px;
  font-weight: normal;
  background-color: #e959e2;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
}

.whyYLetter, .frontendFLetter, .developerPLetter, .takeTLetter, .gardeningDLetter, .theyHLetter, .improveILetter, .skillsLLetter {
  font-size: 60px;
  font-weight: 400;
  background-color: #f5cef3;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}

.didDLetter, .developerLLetter, .upULetter, .gardeningGLetter, .wantedALetter, .improvePLetter, .rootTLetter, .skillsLTwoLetter {
  font-size: 42px;
  font-weight: 700;
  background-color: #e8e28a;
  text-decoration: none;
  text-transform: lowercase;
  font-family: "Sigmar", sans-serif;
}


.didILetter, .frontendOLetter, .takeELetter, .gardeningNTwoLetter, .theyTLetter, .improveRLetter, .rootRLetter, .theirILetter  {
  font-size: 30px;
  font-weight: 900;
  background-color: #ea8f3f;
  text-decoration: none;
  text-transform: lowercase;
  font-family: "Shadows Into Light", sans-serif;
}

.theTLetter, .frontendRLetter, .frontendNTwoLetter, .developerRLetter, .upPLetter, .gardeningNLetter, .becauseBLetter, .theyYLetter, .improveVLetter, .rootOTwoLetter {
  font-size: 48px;
  font-weight: 900;
  background-color: rgb(63, 197, 234);
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Exo 2", sans-serif;
}

.theELetter, .frontendTLetter, .developerDLetter, .developerEThreeLetter, .takeALetter, .gardeningGTwoLetter, .becauseULetter, .wantedWLetter, .improveELetter {
  font-size: 50px;
  font-weight: 400;
  background-color: rgb(89, 54, 78);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Exo 2", sans-serif;
}

.frontendELetter, .developerVLetter, .gardeningALetter, .becauseSLetter, .wantedTLetter, .toOLetter, .theirHLetter, .rootOLetter, .skillsILetter   {
  font-size: 22px;
  font-weight: 500;
  background-color: rgb(12, 219, 157);
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}

.hyphen, .developerELetter, .gardeningELetter, .becauseCLetter, .wantedELetter, .theirELetter, .skillsSLetter {
  font-size: 36px;
  font-weight: 500;
  background-color: rgb(251, 251, 251);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Shadows Into Light", sans-serif;
}

.frontendDLetter, .developerETwoLetter, .becauseETwoLetter, .theyELetter, .toTLetter, .improveMLetter, .theirRLetter, .skillsKLetter {
  font-size: 52px;
  font-weight: bold;
  background-color: rgb(164, 235, 147);
  text-decoration: underline;
  text-transform: lowercase;
  font-family: "Sigmar", sans-serif;
}

.lightblue-letter {
  color: #80baed;
}

.green-letter {
  color: #0ca049;
}

.orange-letter {
  color: #e36917;
}

.blue-letter {
  color: #0b4dd1;
}
.salmon-letter {
  color: #e67979;
}

.red-letter {
  color: rgb(255, 0, 0);
}

.lightgreen-letter {
  color: rgb(136, 183, 95);
}

.purple-letter {
  color: rgb(94, 59, 219);
}

.pink-letter {
  color: rgb(234, 136, 236);
}

.yellow-letter {
  color: rgb(45, 45, 32);
}
